/* Footer.css */
.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #fff;
  width: 100%;
}

.footer a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1rem;
}

.footer a:hover {
  color: #007bff;
}

.footer span {
  margin-left: 5px;
}

.footer img {
  height: 20px;
  margin-right: 5px;
}
