.resume-container {
  max-width: 800px;
  margin: auto;
  padding: 40px;
}

.resume-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.resume-container a {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}

.card {
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
}

.card h3 {
  margin-top: 0;
}

.card h4, .card h5 {
  margin: 0;
  font-weight: normal;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-container .card {
  flex-basis: 48%;
}
